{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <h3>Lausanne VeloRouter is a Flask web application written in Python. It is a routing application especially designed for bikes and maximise the cycling quality along a trip</h3>
    <p>
        This work was conducted for my master s thesis at the University of Lausanne in the Master of Geography specialization spatial analysis and complex systems. The python codes for the preparation of the network is available on a GitHub repository (link). 
    </p>
{% endblock %}