<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{% block title %} {% endblock %} - VeloRouter Lausanne </title>

    <!-- Link to packages and stylesheet : Bootstrap, leaflet, geosearch -->

    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.css' integrity='sha512-bR79Bg78Wmn33N5nvkEyg66hNg+xF/Q8NA8YABbj+4sBngYhv9P8eum19hdjYcY7vXk/vRkhM3v/ZndtgEXRWw==' crossorigin='anonymous'/>

    <!-- Leaflet : css and js  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

    <!-- linkk to Proj4JS and Proj4leaflet -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4-src.min.js' integrity='sha512-iI+gnM9YVv7BvTOmF+2w2f154LkOee1RAa3lDt9C1EPTfJDMtGPj/tuCyJTpH6M8sjQg8Mdl/xvF4ZgqiVpREw==' crossorigin='anonymous'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4-src.min.js" integrity="sha512-iI+gnM9YVv7BvTOmF+2w2f154LkOee1RAa3lDt9C1EPTfJDMtGPj/tuCyJTpH6M8sjQg8Mdl/xvF4ZgqiVpREw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Laaflet ajax -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js' integrity='sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw==' crossorigin='anonymous'></script>

    <!-- Load leaflet geo search. Has to be  AFTER leaflet.js, when using with leaflet -->
    <script src="https://unpkg.com/leaflet-geosearch@3.7.0/dist/geosearch.umd.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.7.0/dist/geosearch.css"/>

    <!-- Link to css stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>
<!-- Navigation bar and links to different pages of the web application -->
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Default page is the index.html file -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('opening_page') }}">LausanneVeloRouting</a>
        <!-- Create buttons for navigation bar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Create different buttons -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
            </ul>
            </div>
    </nav>
    <hr>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <div id="footer" class="copyright">
        2022 © Romain Götz
        <a href="https://github.com/romgotz/application_routing"><i class="bi-github"></i> Code source </a>
        <a href="{{ url_for('static', filename='about.html') }}"> À propos </a>
        <br>
        <p>Source des données: Ville de Lausanne 2022 ; OSM ; Swisstopo <br>
        <br>
  
    </div>
    <!-- Link to jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous'></script>

    <!-- Link to Bootstrap.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>