{% extends 'base.html' %}

{% block content %}

<h1> {% block title %} VéloRouter Lausanne : Proposition d'itinéraires les plus sûrs et confortables {%endblock%}</h1>
<div class="main">
    <!-- Left part of the page is for the leaflet map -->
    <div id="map"></div>

    <!-- Create div sidebar that will be on the right part with searching bar and explications --> 
    <div id="sidebar" class="sidebar">

        <!-- Explication about the web app -->
        <p id="explication"> Cette application permet de trouver un itinéraire à vélo le plus sûr et confortable possible. Définissez votre point de départ et destination, soit en cliquant sur la carte soit en cherchant l'adresse.</p>

        <!-- Add different possibilities to determine start and destination -->
            <!-- Start button -->
            <div class="input-group mb-3">
                <!-- Prepend, what is in front (image of marker) -->
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <img src="static/img/marker_dep.svg" width="45" height="20"> </span>
                </div>
                <!-- Geosearcher text box from Leaflet Geosearch-->
                <form id="geosearch-depart">
                    <input type="text" placeholder="Adresse de départ (Ou clique sur carte/bouton)" value="">
                </form>
                <!-- Append, what is after text box ; button to get localisation (image of localisation) -->
                <div class="input-group-append">
                    <button id="btnGetLocStart" formmethod="post" class="btn btn-outline-secondary current-location"  type="button" title="Centrer sur votre position">
                    <img src="/static/img/current-location.svg" width="18" height="18">
                    </button>
                </div>
            </div> <!-- End start button -->
            <br>

            <!-- Destination button -->
            <div class="input-group mb-3">
                <!-- Prepend, what is in front (image of marker) -->
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <img src="static/img/marker_dest.svg" width="45" height="20"> </span>
                </div>
                <!-- Geosearcher text box from Leaflet Geosearch-->
                <form id="geosearch-destination">
                    <input type="text" placeholder="Adresse de destination (Ou clique sur carte/bouton)" value="">
                </form>
                <!-- Append, what is after text box ; button of get localisation (image of localisation) -->
                <div class="input-group-append">
                    <button id="btnGetLocDest" class="btn btn-outline-secondary current-location" type="button" title="Centrer sur votre position">
                    <img src="/static/img/current-location.svg" width="18" height="18">
                    </button>
                </div>
            </div> <!-- End of destination button -->

            <!-- Add a reset button for lat/lon/path. the function is defined in js file   -->
            <button id="resetBtn"  type="button" title="Remettre à zéro l'application" onclick=reset()>
                Recommencer
            </button>
            <br>

            <!-- Checkboxes to personalize routing data-->
            <!-- VAE -->
            <br>
            <h6> Personnalisation paramètres pour routing </h6>
            <div class="form-check form-switch"> {# Have to specify this class to have bootstrap button #}
                <!-- Pente -->
                <input class="form-check-input" id="pente" type="checkbox" role="switch" name="settings" value="pente" checked>
                <label class="form-check-label"> Pente </label>
                <br>
                <!-- Intersections -->
                <input class="form-check-input" id="intersections" type="checkbox" role="switch" name="settings" value="intersections" checked>
                <label class="form-check-label"> Intersections </label>
                <br>
                <!-- HP_matin -->
                <input class="form-check-input" id="HP_matin" type="checkbox" role="switch" name="settings" value="HP_matin">
                <label class="form-check-label"> Heure de pointe matin 7-8h </label>
                <br>
                <!-- HP soir -->
                <input class="form-check-input" id="HP_soir" type="checkbox" role="switch" name="settings" value="HP_soir">
                <label class="form-check-label"> Heure de pointe soir 17-18h </label>
                <br>
            </div>
   
    </div> <!-- end of sidebar -->

</div> <!-- End of main -->

<!-- Link to js file -->
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}